.navbar{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 50;
  }
  .navbar-logo{
    color: antiquewhite;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .navbar-links{
    display: flex;
    
    align-items: center;
  }
  .navbar-links > li{
    padding-left: 1.5rem;
  }
  .navbar-links > li >a {
    text-decoration: none;
    color: wheat;
    font-size: 1.2rem;
    display:flex;
    align-items: center;
  }
  .navbar-links > li > a >span{
    
    display:flex;
    align-items: center;
    margin-left: 8px;
  }
  .cart_link{
    background: #333;
    padding: 5px;
    border-radius: 12px;
    
  }
  .cart_link:hover{
    background: antiquewhite;
    color: rebeccapurple;
    padding: 5px;
  }

  .cart-itemcount{
    width: 30px;
    height: 30px;
    background: brown;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }